@page
@model NewsHeadlines_API_.Pages.IndexModel
@{
}



<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>News Headlines</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .card-body h5 {
            text-align: center;
            color: blue;
            font-size: 25px;
            padding: 2px;
            background-color: whitesmoke;
        }

        .card-body p {
            text-align: center;
            font-size: 15px;
            color: black;
            font-weight: 500;
        }

        .card-body {
            background-color: lightblue;
        }

        #a {
            margin-top: 20px;
            padding: 20px;
            background-color: azure;
            text-shadow: 2px 1px 0px #808080;
            color: antiquewhite;
            font-size: 30px;
        }

        #b {
            background-color: azure;
        }

        html, body {
            margin: 0;
            padding: 0
        }

        body {
            font: 76% arial,sans-serif;
            text-align: center
        }

        p {
            margin: 0 10px 10px
        }

        a {
            padding: 5px;
            text-decoration: none;
            color: #000000;
        }

        div#header {
            background-color: #F3F2ED;
            border: solid lightblue;
        }

            div#header h1 {
                height: 80px;
                line-height: 80px;
                margin: 0;
                padding-left: 10px;
            }

        #b p {
            height: 40px;
            line-height: 40px;
            margin: 4px;
            padding-left: 20px;
        }

        #b button {
        }

        div#container {
            text-align: left
        }

        div#content p  {
            line-height: 1.4
        }
            div.content a{
               
            }

            div#navigation {
                background: #F6F0E0;
            }

            div#navigation ul {
                margin: 15px 0;
                padding: 0;
                list-style-type: none;
            }

            div#navigation li {
                margin-bottom: 5px;
            }

        div#extra {
            background: #CCC8B3;
        }

        div#footer {
            background: #BFBD93;
        }

            div#footer p {
                margin: 0;
                padding: 5px 10px
            }

        div#container {
            width: 700px;
            margin: 0 auto;
            background-color:cornsilk;
           
              
        }

        div#wrapper {
            float: left;
            width: 100%
        }

        div#content {
            margin: 0 150px 
            
        }

        div#navigation {
            float: left;
            width: 150px;
            margin-left: -700px
        }

        div#extra {
            float: left;
            width: 150px;
            margin-left: -150px
        }

        div#footer {
            clear: left;
            width: 100%
        }
    </style>
    </head>
<body >

    <div class="container bg-dark p-5">
        <div class="row">
            <div class="col-lg">
                <h2 class="text-white h-5"> News Headlines </h2>
            </div>
            <div class="col-lg ">
                <div class="container bg-white  " id="b">
                    <p>News Headlines  is launching a brand new newsletter to deliver some of New Zealand's most important stories </p>
                    <br>
                    <br>
                    <button class="btn btn-outline-dark btn btn-warning" data-toggle="modal" data-target="#adding">Add Headlines</button>
               <br > </div>
            </div>

        </div>
    </div>



    <div class="container " id="a">
        <div class="row">
            <div class="col-lg ">
                <h3>Lastest News </h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="Headlines">


        </div>
    </div>
    







    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        var uri = 'api/News';

        $(document).ready(function () {
            // Gets all 
            $.getJSON(uri)
                .done(function (data) {

                    $("#HeadlineTemplate").tmpl(data).appendTo("#Headlines");
                });
        });



        function getHeadlines() {

            $.getJSON(uri)
                .done(function (data) {

                    $("#Headlines").text("");

                    $("#HeadlineTemplate").tmpl(data).appendTo("#Headlines");
                });

        }

        function adding() {
            var _title = $('#title').val();
            var _content = $('#content').val();
       



            var news = {
                title: _title,
                content: _content
             


            };

            $.ajax({
                type: "POST",
                url: uri,
                data: JSON.stringify(news),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#result").html("Proccessing Complete");
                getHeadlines();
            }).fail(function (jqXHR, textStatus) {
                $("#result").html("An error occured when adding the news.");
            });




        }





        function updatenews() {
            var _id = parseInt($('#_id').val());
            var _title = $('#_title').val();
            var _content = $('#_content').val();
          


            var news = {
                id: _id,
                title: _title,
                content: _content
              


            };

            $.ajax({
                type: "PUT",
                url: uri + "/" + $('#_id').val(),
                data: JSON.stringify(news),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#resultUpdate").html("Proccessing Complete");
                getHeadlines();
            }).fail(function (jqXHR, textStatus) {
                $("#resultUpdate").html("Something went wrong When updating news");
            });;




        }



        function remove(id) {


            var yes = confirm(" you want to delete this headline?");

            if (yes) {
                $.ajax({
                    type: "DELETE",
                    url: uri + "/" + id,

                }).done(function (response) {

                    getHeadlines();
                });

            }


        }



        ////upload image//

        //window.addEventListener('load', function () {
        //    document.querySelector('input[type="file"]').addEventListener('change', function () {
        //        if (this.files && this.files[0]) {
        //            var img = document.querySelector('img');
        //            img.onload = () => {
        //                URL.revokeObjectURL(img.src);  // no longer needed, free memory
        //            }

        //            img.src = URL.createObjectURL(this.files[0]); // set src to blob url
        //        }
        //    });
        //});

        ///upload img




        function getupdatednews(id) {

            $.ajax({
                type: "GET",
                url: uri + "/" + id,
                contentType: "application/json"
            }).done(function (response) {

                $('#_id').val(response.id);
                $('#_title').val(response.title);
                $('#_content').val(response.content);
                




            });


        }
    </script>

    <script id="HeadlineTemplate" type="text/x-jquery-tmpl">


        <div id="container">
            <div id="header"><h5><a>${title}</a></h5></div>
            <div id="wrapper">
                <div class="content">

                    <p>${content} <a class="text-primary" href="https://www.nzherald.co.nz/">Read More</a></p>

                </div>
                <button class="btn btn-outline-dark" onclick="getupdatednews('${id}')" data-toggle="modal" data-target="#updatenews">Update</button>
                <a href="#" class="btn btn-outline-danger" onclick="remove('${id}')">Delete</a>
            </div>


        </div>
       
    </script>




    <div class="modal" tabindex="-1" role="dialog" id="adding">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add News</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Title</label>
                            <input type="text" class="form-control" id="title" aria-describedby="emailHelp" placeholder="Title">

                        </div>
                        <div class="form-group">
                            <label for="model">Content</label>
                            <input type="text" class="form-control" id="content" aria-describedby="emailHelp" placeholder="Content">

                        </div>
                     

                        <div class="form-group" id="result">


                        </div>
                        <button type="button" onclick="adding()" class="btn btn-secondary">Add</button>
                    </form>
                </div>
               
                </div>
            </div>
        </div>
    




    <div class="modal" tabindex="-1" role="dialog" id="updatenews">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update News</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="form-group">

                            <input type="hidden" class="form-control" id="_id" aria-describedby="emailHelp">

                        </div>
                        <div class="form-group">
                            <label for="name">Title</label>
                            <input type="text" class="form-control" id="_title" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="model">Content</label>
                            <input type="text" class="form-control" id="_content" aria-describedby="emailHelp">

                        </div>



                        <div class="form-group" id="resultUpdate">


                        </div>
                        <button type="button" onclick="updatenews()" class="btn btn-secondary">Update </button>
                    </form>
                </div>


                </div>
            </div>
        </div>
    
</body>
</html>





